
*
{
    margin:0;
    padding: 0;
}

body {
	background: #ebefff;
}


.class1{
	content:url("Filled_star.png");
}


.class2{
	content:url("empty_star.png");
}

.card:hover 
{
    /* border: none; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(.85);
}

      

img:hover 
{
    transform: scale(1.04);
    opacity: 0.8;
}